@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header{
    display: flex;
    justify-content: space-between;
    background-image: url(cool-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
    align-items: end;
    text-decoration: none;
}

.title{
    font-size: 50px;
}


nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a{
    text-decoration: none;
    color: aliceblue;
}

nav a:hover{
    color:black;
    text-decoration-line: overline;

}

nav ul{
    list-style: none;
}

footer{
    background-image: url(cool-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h4{
    text-decoration: underline;
    text-decoration: overline;
}

img{
    border-radius: 50%;
}


.center{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.about{
    text-align: right;
    padding: 10px;
    margin: 10px;
}

.box1{
    height: 300px;
    width: 300px;
    padding: 10px;
    background-color: aqua;
    border: 5px solid blueviolet;
    margin: 0;

}