@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D87c27;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;;
}
.navbar ul li{
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: light;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: #fff;
    color: black;
    box-shadow: 0 0 10px #fff;
}
/*Home*/

